@use "../mixins" as *;

.featuresBannerSection {
  display: flex;
  justify-content: center;
  .featuresBannerCont {
    display: flex;
    width: 90%;
    gap: 10px;
    height: 380px;
    justify-content: space-between;
    
    .featuresBanner {
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 10px;
      justify-content: center;
      
      .featuresBannerImage {
        width: 60px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      
      .featuresText {
        @include styleText(#000, 20px, 500, normal);
      }
      
      .featuresTitle {
        font-weight: 500;
        color: #3c3c3c;
      }
    }
  }
}

@media (max-width: 680px) {
  .featuresBannerSection {
    .featuresBannerCont {
      padding: 10px;
      height: auto;
      flex-wrap: wrap;
      
      .featuresBanner {
        width: 100%;
        .featuresText {
          @include styleText(#000, 18px, 500, normal); 
        }
        .featuresTitle {
          font-size: 16px;
        }
      }
    }
  }
}
