.newBeautyCont {
  padding: 4rem 3rem 3rem 3rem;
  h2 {
  }
  .newBeautyFlex {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    .newBeautyCard {
      .newBeautyImage {
        width: 470px;
        height: 520px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }
  }
}
