@use "../mixins" as *;

.newBeautyCont {
  padding: 4rem 1rem 3rem 1rem;
  text-align: center;

  h2 {
    @include styleText(#000, 30px, 500, normal);
    margin-bottom: 1rem;
  }

  .newBeautyFlex {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .newBeautyCard {
      padding: 10px;
      border-radius: 15px;
      text-align: center;
      max-width: 478px;

      .newBeautyImage {
        width: 100%;
        height: auto; 
        overflow: hidden;
        border-radius: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .newtitle {
        @include styleText(#000, 25px, 500, normal);
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .newdescrp {
        font-size: 1rem;
        color: #313131;
        font-weight: 500;
      }

      .newBeautyLink {
        margin-top: 10px;
        color: #000;
        p {
          @include normalText(#000, 14px, 500, normal);
        }
        @include linkHoverTwo(#000, #000000, 0.3s, 3px);
      }
    }
  }
}

@media (max-width: 768px) {
  .newBeautyCont {
    padding: 3rem 1rem 2rem 1rem;

    h2 {
      @include styleText(#000, 26px, 500, normal);
    }

    .newBeautyFlex {
      flex-wrap: wrap;
      gap: 1rem; 

      .newBeautyCard {
        margin-bottom: 20px;
        width: 100%; 

        .newBeautyImage {
          width: 100%;
          height: auto;
        }

        .newtitle {
          @include styleText(#000, 22px, 500, normal);
        }

        .newdescrp {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .newBeautyCont {
    padding: 2rem 0.5rem 1.5rem 0.5rem;

    h2 {
      @include styleText(#000, 22px, 500, normal);
    }

    .newBeautyFlex {
      flex-direction: column;
      align-items: center; 
      gap: 1rem; 

      .newBeautyCard {
        width: 90%; 
        margin-bottom: 15px; 

        .newBeautyImage {
          width: 100%;
          height: auto;
        }

        .newtitle {
          @include styleText(#000, 20px, 500, normal);
        }

        .newdescrp {
          font-size: 0.85rem;
        }
      }
    }
  }
}
