@use "../mixins" as *;

.scrollWoman{
  overflow: hidden;
  .landingSection {
    height: 100vh; 
    flex-direction: column;
    margin-bottom: 50px;
    will-change: transform;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    .container {
      .row {
        display: flex;
        justify-content: center;
        .pin{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 100%;
  
          h2 {
            color: #000000;
            font-size: 80px;
            font-weight: 500;
            font-family: "Merriweather", serif;
            font-style: normal;
            @media (max-width: 1024px) {
              font-size: 50px; 
            }
  
            @media (max-width: 768px) {
              font-size: 35px;
            }
          }
  
          p {
            font-size: 1.2rem;
            margin-top: 1rem;
            color: #000000;
            @media (max-width: 1024px) {
              font-size: 1rem;
            }
  
            @media (max-width: 768px) {
              font-size: 0.9rem;
            }
          }
  
          .aboutus {
        @include aboutUsBtn;
          }
        }
      }
    }
  }
  .imageContainer {
    display: flex;
    gap: 1rem;
width: 97%;
    align-items: stretch;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2rem;

    .scrollimgone, .scrollimgtwo{
      
      max-width: 460px;
    img {
      object-fit: cover;
      border-radius: 30px;
      display: block;
      transition: transform .2s ease;
      width: 100%; 
      height: auto;
  

    }
  }
  }
  
  .spacer {
    height: 100vh;
  }
  @media (max-width: 1024px) {
    .imageContainer {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 768px) {
    .imageContainer {
      justify-content: space-between;

    }
  }
}



