@use "../mixins" as *;

.scrollWoman {
  overflow: hidden;
  padding-top: 10%;
  
  .landingSection {
    height: 100vh; 
    margin-bottom: 50px;
    will-change: transform;
    display: block; // Flexbox kullanmıyoruz
    position: relative; // Pozisyonu relative yapıyoruz
    width: 100%;
  
    .container {
      position: absolute; // Konteyneri mutlak pozisyonda yerleştiriyoruz
      top: 50%; // Dikey olarak ortalamak için
      left: 50%; // Yatay olarak ortalamak için
      transform: translate(-50%, -50%); // Gerçekten ortalamak için
      .row {
        display: flex;
        justify-content: center;
        
        .pin {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 100%;
  
          h2 {
            color: #000000;
            font-size: 80px;
            font-weight: 500;
            font-family: "Merriweather", serif;
            font-style: normal;
            @media (max-width: 1024px) {
              font-size: 50px; 
            }
  
            @media (max-width: 768px) {
              font-size: 35px;
            }
          }
  
          p {
            font-size: 1.2rem;
            margin-top: 1rem;
            color: #000000;
            @media (max-width: 1024px) {
              font-size: 1rem;
            }
  
            @media (max-width: 768px) {
              font-size: 0.9rem;
            }
          }
  
          .aboutus {
            @include aboutUsBtn;
          }
        }
      }
    }
  }

  .imageContainer {
    display: flex;
    gap: 1rem;
    width: 97%;
    align-items: stretch;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 2rem;

    .scrollimgone, .scrollimgtwo {
      max-width: 460px;

      img {
        object-fit: cover;
        border-radius: 30px;
        display: block;
        transition: transform .2s ease;
        width: 100%; 
        height: auto;
      }
    }
  }
  
  .spacerOne {
    height: 100vh;
  }
  .spacerTwo {
    height: 100vh;
  }
  .spacerThree {
    height: 43vh;
    display: none;
  }

  @media (max-width: 1024px) {
    .imageContainer {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 768px) {
    .imageContainer {
      justify-content: space-between;
    }
  }
  @media (min-width: 1108px) {

    .spacerThree {
      display: block ;
      height: 20vh;
    }
}

  @media (max-width: 808px) {

      .spacerThree {
        display: block ;
        height: 27vh;
      }
  }
  @media (max-width: 500px) {

      .spacerThree {
        display: block ;
        height: 66vh;
      }
  }
}