.skinDailyRoutineSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 3rem 2rem;
  background-color: #f7f3ee;

  .yourDailyText {
    color: #000000;
    font-weight: 500;
    font-family: "Merriweather", serif;
    font-size: 28px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .girlFace {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      display: block;
    }
  }

  .hotspot {
    position: absolute;
    width: 23px;
    height: 23px;
    border: 8px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      transform: translate(-50%, -50%);
      animation: pulse-ring 1s infinite;
    }
  }

  @keyframes pulse-ring {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }

  .viewAllProducts {
    p {
      font-size: 14px;
      color: #000;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin-top: 50px;
      letter-spacing: 3px;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 1rem 3rem 1rem;
    .girlFace img{
      height: 200px;
      object-fit: cover;
    }
    .routineCard {
      width: 280px; 
      height: 100px; 
      padding: 9px;
      .productInfo p {
        font-size: 12px;
      }
      .dailyMiniImg img {
        width: 70px;
      }
    }
    .yourDailyText {
      font-size: 20px;
    }
    .hotspot {
      width: 15px;
      height: 15px;
      border-width: 4px;
      &::after {
        width: 18px;
        height: 18px;
      }
    }
  }
  @media (max-width: 488px) {
    .girlFace img{
      height: 200px;
      object-fit: cover;
    }
    .routineCard {
      width: 280px; 
      height: 87px; 
      padding: 9px;
      .productInfo{
        gap: 2px;
      }
      .productInfo p {
        font-size: 10px;
      }
      .productInfo span {
        font-size: 10px;
      }
      .dailyMiniImg img {
        width: 60px;
      }
    }

  }
}
