@use "../pages/mixins" as *;

.cartPageContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  border-top: 1px solid rgba(222, 222, 222, 0.693);
  .emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    .emptyCartSvg{
      width: 40px;
      height: 40px;
    }
.emptyCartTextP{
  @include styleText(#000000, 20px, 500, normal);
}
    .emptyCartLink{
      @include aboutUsBtn;
      font-size: 14px;
      padding: 20px 20px;
      margin-top: 0;
    }
  }
  .cartList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .cartItem {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px 8px 0px;      
      border-bottom: 1px solid rgb(215, 215, 215);

      .cartProductImg {
        width: 25%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cartProductName {
        a {
          &:hover {
            color: orange;
          }
        }
      }
      .cartProductDetails {
      }
      .counterBin {
        display: flex;
        gap: 18px;
        .counter {
          border: 1px solid rgb(215, 215, 215);
          padding: 15px 18px;
          border-radius: 30px;
          gap: 20px;
          display: flex;
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
          }
          .plusminusImg {
            width: 20px;
            cursor: pointer;
          }
        }
        .removecartProduct {
          width: 25px;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
            color: red;
            font-weight: 900;
          }
        }
      }
      .cartProductPrice {
        display: flex;
        align-items: center;
        margin-top: 40px;
      }
    }
  }

  .cartFooterBottom {
    padding: 8px 12px;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    margin-bottom: 15%;
    justify-content: center;

    .cartInfo {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      align-items: center;
      justify-content: space-between;
      .subtotalText {
        font-size: 16px;
        font-weight: 500;
      }
      .totalPrice {
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 23px;
      }
    }
    .cartInfoBottom{
      text-align: end;
      margin-bottom: 10px;
      color: #656565;
      font-size: 12px;
    }
    .checkoutButton {
      padding: 0.8rem 2rem;
      width: 100%;
      @include aboutUsBtn;
      margin-top: 0px;
    }
    .checkoutButton.disabled {
      background-color: #656565;
      cursor: not-allowed;
      opacity: 0.6;
    }
    
  }
}
@media (max-width: 480px) {
  .cartPageContainer {
    .cartList {
      max-height: 100%;
      .cartItem {
        .cartProductImg {
          width: 30%;
        }
        .counterBin {
          .counter {
            padding: 10px 12px;
            gap: 15px;
          }
        }
      }
    }

  } 
}