.drawerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .drawerSubCategory {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    .subCategoryList {
      list-style: none;
      padding: 0;
      
      margin: 0;

      li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(207, 207, 207, 0.641);
        padding: 20px 15px 20px 15px;
        background-color: #fff;
        border-radius: 6px;
        transition: all 0.3s ease;
        position: relative;

        &:hover {
          background-color: #f4f4f4;
        }

        .expandIcon {
          margin-left: 0.5rem;
          cursor: pointer;
          transition: transform 0.3s ease, color 0.3s ease;
          color: #333;
          img{
            width: 20px;
          }
        }

        &:hover .expandIcon {
          color: #009688;
        }

        &.active .expandIcon {
          transform: rotate(45deg);
          color: #009688;
        }

        .subCategoryItems {
          list-style: none;
          padding-left: 1rem;
          margin-top: 2rem;
          display: block;
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: opacity 0.3s ease, max-height 0.3s ease;

          li {
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            color: #555;
            transition: color 0.3s ease;

            &:hover {
              color: #009688;
            }
          }
        }

        &.active .subCategoryItems {
          opacity: 1;
          max-height: 200px;
        }
      }
    }
  }

  .drawerFooter {
    padding: 2rem;
    background-color: #151515;
    color: #fff;
    margin-bottom: 60px;
    border-top: 2px solid #fff;
    text-align: left; // İçeriği ortala

    .footerList {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-direction: column;

      li {
        font-size: 15px;
        transition: color 0.3s ease;
        font-weight: 500;

        &:hover {
          color: #f4f4f4;
        }
      }
    }
  }
}
