@use "../pages/mixins" as *;

.drawerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;

  .drawerSubCategory {
    flex-grow: 1;
    padding: 4px 16px 16px 16px;
    background-color: #ffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    .subCategoryList {
      list-style: none;
      padding: 0;
      margin: 0;

      .subCategoryListLi {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(207, 207, 207, 0.641);
        padding: 20px 15px 20px 15px;
        transition: all 0.3s ease;
        position: relative;
        p {
          @include linkHover(black, black, #715939);
          &.active {
            color: #555;
          }
        }

        .expandIcon {
          margin-left: 0.5rem;
          cursor: pointer;
          transition: transform 0.3s ease, color 0.3s ease;
          color: #333;
          img {
            width: 20px;
          }
        }
        &.active {
          p {
            color: #715939 !important;
          }
        }
        
      }

      .subCategoryItems {
        list-style: none;
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease, max-height 0.3s ease;

        li {
          margin-bottom: 0.5rem;
          padding: 6px 15px 6px 15px;
          transition: color 0.3s ease;
          cursor: pointer;
          span {
            @include linkHover(black, black, #715939);
          }
          &:hover span {
            color: #715939;
          }
        }
      }
    }
  }

  .drawerFooter {
    padding: 2rem;
    background-color: #151515;
    color: #fff;
    border-top: 2px solid #fff;
    text-align: left;

    .footerList {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-direction: column;

      li {
        font-size: 15px;
        transition: color 0.3s ease;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: #f4f4f4;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .drawerContainer {
    min-width: 500px;
  }
  .modalBox {
    .modal {
      min-width: 500px;
      height: 100vh;
    }
  }
}

@media (max-width: 600px) {
  .drawerContainer {
    width: 100%;
  }
  .modalBox {
    .modal {
      width: 100%;
      height: 100vh;
    }
  }
}



.bestsellerScrollContainer {
  width: 100%;
  padding: 15px 0;

  .scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;  
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }

  .drawerSlideCont {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;

    .drawerSlideImage {
      width: 250px;
      height: 250px;
      img{
        width: 100%;
        height: 100%;
      }
    }

    .drawerSlideTextCont {

      .drawerSlideText {
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    }
  }
}
