@use "../pages/mixins" as *;

.headerVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  color: rgb(255, 255, 255);
  background: transparent;

  .barNav {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;

    img {
      filter: invert(0);
      width: 30px;
    }

    .navBar a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      margin: 0 10px;
      transition: color 0.3s ease;
      @include linkHover(#fff, #fff, rgb(255, 255, 255));
    }
  }
  .navTeaser {
    display: flex;
    gap: 13px;
    img {
      filter: invert(1);
      width: 28px;
      cursor: pointer;
    }
    .cartIcon{
      position: relative;
      img{
        
      }
    .cartCount{
      position: absolute;
      top: 14px;
      right: -10px;
      background: #000000;
      color: #fff;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      font-weight: 500;
    }
    }
  }
}

.hiddenHeaderVideo {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.hiddenHeader {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(190, 190, 190, 0.386);
  padding: 25px 50px;
  background-color: #ffffff;
  color: #151515;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .barNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      filter: invert(1);
      width: 30px;
    }

    .navBar a {
      color: #151515;
      margin: 0 10px;
      @include linkHover(#000000, #000000);
    }
  }
  .navTeaser {
    display: flex;
    gap: 13px;
    img {
      filter: invert(0);
      cursor: pointer;
      width: 28px;
    }
    .cartIcon{
      position: relative;
      img{
        
      }
    .cartCount{
      position: absolute;
      top: 14px;
      right: -10px;
      background: #000000;
      color: #fff;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 12px;
      font-weight: 500;
    }
    }
  }
}

.headerBeauty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  img {
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}

.navBar {
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
    font-size: 18px;
  }
}
 @media (max-width: 1024px) {
  .navBar {
display: none;
  }
}