.routineCard {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 130px;
    width: 360px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &.active {
      transform: scale(1.1);
    }
  

  
    .dailyMiniImg {
      img {
        width: 90px;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
      }
    }
  
    .productInfo {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 7px;
  
      h3 {
        font-size: 11px;
        font-weight: 500;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: #777;
        margin: 0;
      }
  
      p {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        margin: 0;
      }
  
      span {
        font-size: 15px;
        font-weight: 500;
        color: #000;
      }
    }
  
    .cartDailyIcon {
      img {
        padding: 4px;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease, filter 0.3s ease;
  

      }
    }
  }
  