@use "../mixins" as *;

.afterBeforeSection {
  display: flex;
  align-items: center;
  justify-content: center;

  .sliderContainer {
    position: relative;
    overflow: hidden;
    height: 85vh;
    width: 70%;
    -webkit-user-select: none;
    .imageContainer {
      position: relative;
      height: 100%;

      .afterImage,
      .beforeImage {
        height: 100%;
        object-fit: cover;
      }

      .beforeImageContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
      }

      .sliderHandle {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: #ffffff;
        cursor: grab;
        cursor: -webkit-grab;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        .sliderHandle:active {
          cursor: grabbing;
          cursor: -webkit-grabbing; // Safari için
        }
        .sliderCircle {
          width: 50px;
          padding: 5px;
          background: #ffffff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.2s ease-in-out;

          img {
            width: 35px;
          }
        }
      }

      .imageLabel {
        position: absolute;
        bottom: 15px;
        font-size: 15px;
        padding: 6px 12px;
        background: #ffffff;
        color: #000000;
        border-radius: 25px;
      }

      .beforeLabel {
        left: 15px;
        z-index: 50;
      }

      .afterLabel {
        right: 15px;
      }
    }
  }

  .afterBeforeLeftSide {
    background-color: #f7efe3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 50%;
    padding: 30px;
    text-align: center;

    .afterBeforeLefText {
      width: 68%;
      h2 {
        margin-bottom: 10px;
        @include styleText(black, 48px, 500, normal);
      }
    }
  }

  // ✅ Tablet ve Küçük Ekranlar (900px ve altı)
  @media (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    .sliderContainer {
      height: 100vh;
      width: 100%;
    }

    .afterBeforeLeftSide {
      width: 100%;
      padding: 25px;

      .afterBeforeLefText {
        width: 60%;

        h2 {
          font-size: 36px;
        }
      }
    }
  }

  // ✅ Mobil Ekranlar (600px ve altı)
  @media (max-width: 680px) {
    .sliderContainer {
      height: 80vh;
      width: 100%;

      .sliderHandle {
        width: 6px;

        .sliderCircle {
          width: 40px;
          height: 40px;

          img {
            width: 28px;
          }
        }
      }
    }

    .afterBeforeLeftSide {
      padding: 20px;

      .afterBeforeLefText {
        width: 100%;

        h2 {
          font-size: 28px;
        }
      }
    }
  }

  // ✅ Çok Küçük Ekranlar (400px ve altı)
  @media (max-width: 450px) {
    .sliderContainer {
      height: 50vh;
    }

    .afterBeforeLeftSide {
      padding: 15px;

      .afterBeforeLefText {
        width: 100%;
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}
