@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@mixin linkHover($color: #fff, $background: #fff, $hoverColor: black) {
  color: $color;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  transition: color 0.3s;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: $background;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: $hoverColor;
    &::after {
      width: 100%;
    }
  }
}

@mixin linkHoverTwo(
  $color: #000,
  $hoverColor: #715939,
  $duration: 0.3s,
  $offset: 3px
) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -#{$offset};
    width: 100%;
    height: 1px;
    background-color: $color;
    transition: opacity 0s ease;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -#{$offset};
    width: 100%;
    height: 1px;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $duration ease-in-out;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

@mixin aboutUsBtn {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 15px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  letter-spacing: 3px;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  transition: background 0.3s;

  &:hover {
    background-color: #222222;
  }

  @media (max-width: 768px) {
    padding: 0.6rem 1.5rem;
  }
}

@mixin normalText($color: #000, $size: 16px, $weight: normal, $style: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  letter-spacing: 1.8px;
  line-height: 1.5;
}

@mixin styleText($color: #000, $size: 16px, $weight: normal, $style: normal) {
  font-weight: 500;
  font-family: "Merriweather", serif;
  font-style: normal;
  color: $color;
  font-size: $size;
  letter-spacing: 0.8px;
  line-height: 1.5;
  font-weight: $weight;
  font-style: $style;
}

@mixin paginationDots {
  position: absolute;
  bottom: 5%;
  left: 23%;
  display: flex;
  gap: 25px;

  .dotIndicator {
    width: 9px;
    height: 9px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;

    &.active {
      background: #000;
    }
  }
}

@mixin sliderPrevNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 24px;
  font-weight: 300;
  display: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}
