@mixin linkHover {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  transition: color 0.3s;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
