.landingSection {
  padding: 5rem 10%;
  background-color: #f9f9f9;
  height: 100vh;

  .container {
    .row {
        justify-content: center;
        flex-direction: column;
      h1 {
        font-size: 3rem;
        font-weight: bold;
        color: #333;
      }

      p {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: #666;
      }

      .aboutus {
        margin-top: 2rem;
        padding: 0.8rem 2rem;
        font-size: 1rem;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .heroImage {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .landingSection {
    flex-direction: column;
    text-align: center;
    .imageContainer {
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
